# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# dependencies
/node_modules
/.pnp
.pnp.js

# Env
.env
.env.*
!.env.example

# compiled output
/dist
/tmp
/out-tsc
.serverless
/build

# misc
.DS_STORE
*.log
reports
/.sass-cache
/connect.lock
/coverage
/typings

npm-debug.log*

